body {
    margin: 0px 0px 0px 0px;
}

.header {
    position: relative;
    height: 100px;
    width: 100%;
    background-color: darkseagreen;
}

.header_nav {
    margin: 0 auto;
    max-width: 960px;
    padding: 25px;
}

.header_nav_logo {
    float: left;
}

.header_nav_name {
    margin-left: 20px;
    float: left;
    font-size: 45px;
}

.nav {
    clear: left;
}

.nav_link1, .nav_link2, .nav_link3 {
    float: left;
    margin-left: 20px;
}

.content {
    margin: 0 auto;
    max-width: 960px;
}

table {
    border-collapse: collapse;
}

th, td {
    border-style: solid;
    border-width: 1px;
}

tr:nth-child(2n) {
    background-color: cornflowerblue;
}

.footer {
    position: relative;
    height: 100px;
    width: 100%;
    background-color: darkseagreen;
}

.footer_nav_name {
    margin: 0 auto;
    max-width: 960px;
    font-size: 25px;
    padding: 25px;
}